/* {
    transition: 0.5s ease-in-out;
}*/
#contacter {
    background-color: #eee4d4;
    display:flex;
    justify-content: space-between;
}
#contacter div {
    font-size: 1.6vw;
    order: 0;
    max-width: 45%;
}
#form {
    order: 1;
    width: 45%;
    font-size: 1.1vw;
    border: dashed #98775b 1.2vw;
    background: #efe5d3;
    padding: 3%;
    margin: 1%;
    display: grid;
    grid-template-rows: repeat(9,1fr);
}
#contacter input, textarea {
    background: #96755b;
    color: #ffcf60;
    border: 0.1vw solid #111111;
    margin-top: 2.5%;
}
#contacter label {
    padding:5% 0;
    font-size: 35px;
}
#active {
    color: #efbf50
}
.replaceDropdown {
    display: none;
}
.dropdownInfo {
    display: inline;
    text-decoration: underline;
    align-self: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border: 1vw #000000 solid;
    font-size: 2vw;
    margin: 0.5%;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    order: 1;
    color: #ffcf60;
    background:#eee4d4;
}
.dropdownContent {
    display: none;
    z-index: 1;
    position: absolute;
    margin: 0.5%;
    background: #fff5e5;
    box-shadow: 10px 5px 5px #000000;
    left: 15%;
    border-radius: 25px;
    background:#eee4d4;
}
.dropdownInfo:hover .dropdownContent {
    display: block;
}
.dropdownContent a {
    align-self: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 2vw;
    margin: 0.5%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background:#eee4d4;
}
.title {
    margin: auto;
    font-size: 7vw;
    text-align: center;
    color: #ffcf60;
    text-shadow: 0 0 5px#000000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 25px;
    border: #96755b double 0.5vw;
    background: #eee4d4;
    display: block;
}
body {
    background-color: #fff5e5;
}
nav {
    margin: 2.5% 6% 2.5% 6%;
    border: 3vw #96755b solid;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    align-self: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border: 1vw #000000 solid;
    font-size: 2vw;
    margin: 0.5%;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffcf60;
    background:#eee4d4;
}
hr {
    border: 0.4em #000000 solid;
}
main {
    margin: 0.25% 2.5% 2.5% 2.5%;
    border: 0.75em#96755b double;
}
main div div {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    width: 58%;
}
main div img {
    max-width: 37%;
    max-height: 15%;
}
.mainDiv {
    display: flex;
    justify-content: space-between;
    border: 1px #ffcf60 dashed;
    padding: 1%;
    margin: 1%;
    max-width: 99%;
    min-width: 92.5%;

}
footer {
    margin: auto;
    height: 10%;
    background-color: #96755b;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2%;
    text-align: center;

}
footer p {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff5e5;
    display: inline;
    align-self: center;
}
@media only screen and (max-width: 55em) {
    .mainDiv {
        flex-direction: column;
    }
    main div img {
        max-width: 80%;
        max-height: 60%;
        margin: auto;
        order: 0;
    }
    main div div {
        order: 1;
        max-width: 95%;
        min-width: 80%;
        margin: auto;
        text-align: center;
        font-size: 14px;
    }
    .dropdownInfo {
        display: none;
    }
    .replaceDropdown {
        display: inline;
    }
    /*nav a {
        border: 4px #000000 solid;
        font-size: 12px;
        padding: 5px 15px;
    }
    nav {
        border: 0.9em #96755b solid;
    }
    header {
        font-size: 60px;
    }*/
}
