/* {
    transition: 0.5s ease-in-out;
}*/
#gridMain {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 50% 50%;
}
#contactImg {
    width: 65%;
    display: block;
}
iframe {
    height: 35vw;
    min-width: 35vw;
}
.catalogSubmainOne {
    border-right:0.375em#96755b solid;
    margin-right: 0.125em;
}
.catalogImgOne {
    order: 0;
}
.catalogSubmainOne, .catalogSubmainTwo {
    border-bottom: 0.75em#96755b double;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}
.catalogImgOne, .catalogImgTwo {
    width: 50%;
    margin: auto;
    padding: 1%;
    border: #111111 1vw dashed;
    border-radius: 10px;
    grid-row: span 1;
}
.catalogTextOne, .catalogTextTwo {
    font-size: 14px;
    grid-row: span 1;
}
.catalogTextOne {
    text-align: left;
    order: 1;
}
.catalogSubmainTwo {
    border-left:0.375em#96755b solid;
    margin-left: 0.125em;
}
.catalogImgTwo {
    order: 1;
    float: right;
}
.catalogTextTwo {
    text-align: right;
    order: 0;
}
#contacter {
    background-color: #eee4d4;
    display:flex;
    justify-content: space-between;
}
#contacter div {
    font-size: 18px;
    order: 0;
    max-width: 65%;
}
#email {
    text-decoration: underline;
    color: #fff5e5;
}
#form {
    order: 1;
    width: 45%;
    font-size: 1.0vw;
    border: dashed #98775b 1.0vw;
    background: #efe5d3;
    margin: 1%;
    padding: 1vw;
    display: grid;
    grid-template-rows: repeat(9,3vw);
}
#locationImg {
    border: solid #000000 0.2vw;
    margin: auto;
    padding: 1%;
    width: 60vw;
    display: block;
}
#locationMain {
    max-width: 100%;
}
#locationSubmain {
    text-align: center;
}
#locationSubmain div {
    width: 70%;
    margin: auto;
    font-size: 18px;
}
table {
    border:#98775b solid 0.35vw;
    gap: 0.2vw;
    font-size: 18px;
    margin: auto;
    padding: 0;
}
td,th {
    border:#99786b solid 0.25vw;
}
#contacter input, textarea {
    background: #96755b;
    color: #ffcf60;
    border: 0.1vw solid #111111;
    margin-top: 2.5%;
    font-size: 1.5vw;
}
input[type=submit] {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}
#contacter label {
    font-size: 1.6vw;
    font-weight:200;
    text-decoration: underline;
}
#active {
    color: #efbf50;
}
.replaceDropdown {
    display: none;
}
.dropdownInfo {
    display: inline;
    text-decoration: underline;
    align-self: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border: 1vw #000000 solid;
    font-size: 2vw;
    margin: 0.5%;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    order: 1;
    color: #ffcf60;
    background:#eee4d4;
    text-shadow: 0 0 0.1vw#000000;
}
.dropdownContent {
    display: none;
    z-index: 1;
    position: absolute;
    margin: 0.5%;
    background: #fff5e5;
    box-shadow: 10px 5px 5px #000000;
    left: 15%;
    border-radius: 25px;
    background:#eee4d4;
    text-shadow: 0 0 0.1vw#000000;
}
.dropdownInfo:hover .dropdownContent {
    display: block;
}
.dropdownContent a {
    align-self: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 2vw;
    margin: 0.5%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
}
.title {
    margin: auto;
    font-size: 7vw;
    text-align: center;
    color: #ffcf60;
    text-shadow: 0 0 5px#000000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 25px;
    border: #96755b double 0.5vw;
    background: #eee4d4;
    display: block;
}
.mainDiv {
    display: flex;
    justify-content: space-between;
    border: 1px #ffcf60 dashed;
    padding: 1%;
    margin: 1%;
    max-width: 99%;
    min-width: 92.5%;

}
body {
    background-color: #fff5e5;
}
nav {
    margin: 2.5% 6% 2.5% 6%;
    border: 3vw #96755b solid;
    display: flex;
    justify-content: space-evenly;
}
nav a {
    align-self: auto;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border: 1vw #000000 solid;
    font-size: 2vw;
    margin: 0.5%;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffcf60;
    background:#eee4d4;
    text-shadow: 0 0 0.1vw#000000;
}
hr {
    border: 0.4em #000000 solid;
}
main {
    margin: 0.25% 2.5% 2.5% 2.5%;
    border: 0.75em#96755b double;
}
#mainMain div div {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    width: 58%;
}
#mainMain div img, #mainMain div iframe {
    max-width: 37%;
    max-height: 15%;
}
footer {
    margin: auto;
    height: 10%;
    background-color: #96755b;
    position: fixed;
    left: -2vw;
    bottom: 0;
    width: 100%;
    padding: 2%;
    text-align: center;

}
footer p {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff5e5;
    display: inline;
    margin: auto;
}
@media only screen and (max-width: 55em) {
    .mainDiv {
        flex-direction: column;
    }
    #Mainmain div img, #mainMain div iframe {
        max-width: 80%;
        max-height: 60%;
        margin: auto;
        order: 0;
    }
    #Mainmain div div {
        order: 1;
        max-width: 95%;
        min-width: 80%;
        margin: auto;
        text-align: center;
        font-size: 14px;
    }
    
    table {
        font-size: 12px;
    }
    .dropdownInfo {
        display: none;
    }
    .replaceDropdown {
        display: inline;
    }
    .catalogTextOne, .catalogTextTwo {
        font-size: 11px;
    }
    #locationSubmain div {
        font-size: 12px;
    }
    #contacter div {
        font-size: 13px;
    }
    label {
        font-size: 14px;
    }
    nav a {
        color: #000000;
    }
    /*nav a {
        border: 4px #000000 solid;
        font-size: 12px;
        padding: 5px 15px;
    }
    nav {
        border: 0.9em #96755b solid;
    }
    header {
        font-size: 60px;
    }*/
}
